{% import 'icons.html' as icon %}

{% set icons = {
'spotify': icon.spotify(),
'discord': icon.discord(),
'firefox': icon.firefox(),
'steam': icon.steam(),
'steamwebhelper': icon.steam(),
'explorer': icon.explorer(),
'vlc': icon.vlc(),
'master': icon.master(),
} %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remote Volume Windows</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
  <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='htmx.min.js') }}"></script> <!-- HTMX v2.0.7 -->
</head>

<body class="font-lexend-deca m-0 bg-gray-950 overflow-hidden">
  <div class="h-screen flex flex-col justify-center items-center overflow-hidden">

    {{ icon.brand() }}
    <h1 class="text-white mb-10">— Volume Control —</h1>

    <div class="flex gap-4 py-5 max-w-72 lg:max-w-none overflow-x-auto">
      {% for audio in processes %}
      {% set program = audio.name.replace('.exe', '') %}
      <div class="flex flex-col items-center gap-4 mx-2 relative">

        <!-- 📄 This is input range form -->
        <form hx-post="/" hx-trigger="input from:form delay:120ms" hx-target="#vol-value-{{loop.index}}"
          hx-swap="textContent" class="absolute">
          <input type="text" name="name" value="{{ audio.name }}" hidden>

          <input type="range" name="volume" min="0.0" max="1.0" step="0.01" value="{{ audio.volume }}"
            oninput="linkSliderToBox(this, 'vol-{{loop.index}}')" class="w-12 h-60 opacity-0 cursor-pointer"
            style="writing-mode: vertical-rl; direction: rtl">
        </form>

        <!-- 💻 This is display div -->
        <div class="flex items-end w-12 h-60 gap-1 bg-pink-400">
          <div id="vol-{{loop.index}}" class="bg-sky-400 w-full border-t-8 border-t-white"
            style="height: {{audio.volume | percentify}}%;">
          </div>
        </div>

        <span id="vol-value-{{loop.index}}" class="text-white">{{ audio.volume | percentify }}</span>

        <span>
          {% if icons[program.lower()] %}
          {{ icons[program.lower()] }}
          {% else %}
          <span class="text-white">{{ program.capitalize() }}</span>
        </span>
        {% endif %}
      </div>
      {% endfor %}
    </div>


    <!-- THIS IS HORIZONTAL VOLUME SLIDER -->
    <!-- <div class="w-full">
      {% for audio in processes %}
      <div class="flex flex-col my-4 bg-gray-200 rounded-lg">
        <div class="p-1 px-2 text-sm">{{ audio.name }}</div>
        <div class="flex items-center rounded-b-lg bg-gray-400 p-2">
          <form hx-post="/" hx-trigger="change" hx-target="#vol-{{loop.index}}" hx-swap="textContent" class="w-full">
            <input type="text" name="name" value="{{ audio.name }}" hidden>
            <input type="range" name="volume" class="accent-gray-100 w-full" min="0.0" max="1.0" step="0.01"
              value="{{ audio.volume }}">
          </form>
          <span class="px-2 w-12 text-center" id="vol-{{loop.index}}">{{ audio.volume | percentify }}</span>
        </div>
      </div>
      {% endfor %}
    </div> -->
  </div>

  <script>
    function linkSliderToBox(slider, boxId) {
      const box = document.getElementById(boxId);
      box.style.height = (slider.value * 100) + "%";
    }
  </script>
</body>

</html>