{% import 'icons.html' as icon %}

{% set icons = {
'spotify': icon.spotify(),
'discord': icon.discord(),
'firefox': icon.firefox(),
'steam': icon.steam(),
'explorer': icon.explorer(),
'vlc': icon.vlc(),
'master': icon.master(),
} %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remote Volume Windows</title>
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
  <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='htmx.min.js') }}"></script> <!-- HTMX v2.0.7 -->
</head>

<body class="font-lexend-deca m-0 bg-gray-950 overflow-hidden">
  <button class="absolute top-3 right-3" onclick="toggleHideButton()">
    <span id="main-eye">{{ icon.eye() }}</span>
    <span id="main-eye-slash" class="hidden">{{ icon.eye_slashed() }}</span>
  </button>

  <div class="h-screen flex flex-col justify-center items-center overflow-hidden">

    <div class="flex flex-col justify-center items-center mb-10">
      {{ icon.brand() }}
      <h1 class="text-white">— Volume Control —</h1>
      <span class="text-gray-400">v{{ version }}</span>
    </div>

    <div class="flex gap-4 py-10 max-w-72 lg:max-w-none overflow-x-auto">
      {% for audio in processes %}
      {% set program = audio.name.replace('.exe', '') %}

      <div class="flex flex-col items-center gap-4 mx-2 relative" id="{{ program }}" name="slider">
        <!-- 📄 This is input range form -->
        <form hx-post="/" hx-trigger="input from:form delay:120ms" hx-target="#vol-value-{{ loop.index }}"
          hx-swap="textContent" class="absolute">
          <input type="text" name="name" value="{{ audio.name }}" hidden>

          <input type="range" name="volume" min="0.0" max="1.0" step="0.01" value="{{ audio.volume }}"
            oninput="changeBoxColorHeight(this, 'vol-{{ loop.index }}')" class="w-12 h-60 opacity-0 cursor-pointer"
            style="writing-mode: vertical-rl; direction: rtl">
        </form>

        <!-- 💻 This is display div -->
        <div class="flex items-end w-12 h-60 gap-1 bg-pink-400">
          <div id="vol-{{ loop.index }}" class="bg-sky-400 w-full border-t-8 border-t-white"
            style="height: {{audio.volume | percentify}}%;">
          </div>
        </div>

        <span id="vol-value-{{loop.index}}" class="text-white hidden">{{ audio.volume | percentify }}</span>

        <button class="hidden" name="toggle-program" onclick="toggleProgramVisibility('{{ program }}')">
          <span id="{{ program }}-eye">{{ icon.eye() }}</span>
          <span id="{{ program }}-eye-slash" class="hidden">{{ icon.eye_slashed() }}</span>
        </button>

        <span title="{{ program.capitalize() }}">
          {% if icons[program.lower()] %}
          {{ icons[program.lower()] }}
          {% else %}
          <span class="text-white truncate h-14" style="writing-mode: vertical-rl;">
            {{ program.capitalize() }}
          </span>
        </span>
        {% endif %}

      </div>
      {% endfor %}
    </div>


    <!-- THIS IS HORIZONTAL VOLUME SLIDER -->
    <!-- <div class="w-full">
      {% for audio in processes %}
      <div class="flex flex-col my-4 bg-gray-200 rounded-lg">
        <div class="p-1 px-2 text-sm">{{ audio.name }}</div>
        <div class="flex items-center rounded-b-lg bg-gray-400 p-2">
          <form hx-post="/" hx-trigger="change" hx-target="#vol-{{loop.index}}" hx-swap="textContent" class="w-full">
            <input type="text" name="name" value="{{ audio.name }}" hidden>
            <input type="range" name="volume" class="accent-gray-100 w-full" min="0.0" max="1.0" step="0.01"
              value="{{ audio.volume }}">
          </form>
          <span class="px-2 w-12 text-center" id="vol-{{loop.index}}">{{ audio.volume | percentify }}</span>
        </div>
      </div>
      {% endfor %}
    </div> -->
  </div>

  <script src="{{ url_for('static', filename='service-worker.js') }}"></script>
  <script>
    let isMainHidden = false;

    function getHiddenPrograms() {
      return JSON.parse(localStorage.getItem("hidden")) || [];
    }

    function toggleSliderButton() {
      const buttons = document.getElementsByName('toggle-program');
      buttons.forEach(button => {
        button.classList.toggle('hidden');
      });
    }

    function toggleEyeIcon(program) {
      const eye = document.getElementById(`${program}-eye`);
      const slash = document.getElementById(`${program}-eye-slash`);

      eye.classList.toggle("hidden");
      slash.classList.toggle("hidden");
    }

    function toggleHideButton() {
      // This function is for main toggle button on top left corner
      // Result: toggle visibility button programs slider 
      isMainHidden = !isMainHidden;

      toggleSliderButton();
      toggleEyeIcon('main')

      const programs = getHiddenPrograms();
      if (programs.length > 0) {
        programs.forEach(program => {
          hideSlider(program);
        })
      }
    }

    function toggleProgramVisibility(item) {
      // Get existing array or empty one
      let hidden = getHiddenPrograms();

      if (hidden.includes(item)) {
        // Remove item
        hidden = hidden.filter(i => i !== item);
        showSlider(item);
      } else {
        // Add item
        hidden.push(item);
        hideSlider(item);
      }

      // Save back
      localStorage.setItem("hidden", JSON.stringify(hidden));

      return hidden; // return updated array if you want to use it
    }

    function changeBoxColorHeight(slider, boxId) {
      const box = document.getElementById(boxId);
      box.style.height = (slider.value * 100) + "%";
    }

    function showSlider(name) {
      const program = document.getElementById(name);

      if (isMainHidden) {
        program.classList.remove('hidden');
        program.classList.remove('opacity-50')
        toggleEyeIcon(name)
      } else {
        program.classList.remove('hidden');
        toggleEyeIcon(name)
      }
    }

    function hideSlider(name) {
      const program = document.getElementById(name);

      if (isMainHidden) {
        program.classList.remove('hidden');
        program.classList.add('opacity-50');
        toggleEyeIcon(name)
      } else {
        program.classList.add('hidden');
        toggleEyeIcon(name)
      }
    }

    // Get list hidden program from local storage
    // then apply display none to them when initialize the app
    const programs = getHiddenPrograms();
    if (programs.length > 0) {
      programs.forEach(program => {
        const element = document.getElementById(program);
        element.classList.add('hidden');
      })
    }

    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker
          .register("/static/service-worker.js")
          .then(reg => console.log("Service Worker registered:", reg.scope))
          .catch(err => console.error("Service Worker failed:", err));
      });
    }

  </script>
</body>

</html>